.maincontainer{
  background-color: rgba(0, 0, 0, 0.9);
  padding-bottom: 3%;
  overflow: hidden;
}
.maincontainer h3{
    font-family: title;
    color: var(--white);
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0 0 0;
}
.input_container{
  font-family: content;
  min-height: 16vh;
  background-color: transparent;
  color:var(--secondaryFontColor);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.input_container input{
  margin:  0 25px;
  padding: 12px 22px;
  border-radius: 5px;
  font-family: content;
  font-size: 1rem;
  min-width: 50vw;
  border: none;
}
.btn {
  display: inline-flex;
  position: relative;
  text-align: center;
  padding: 15px 30px;
  color: #2621b7;
  /* color: blueviolet; */
  background-color:var(--white);
  cursor: pointer;
  font-size: 18px;
  font-family: content;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 18px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  border: none;
}
.btn:hover{
  color: #05559c;
}
@media screen and (max-width: 700px) {
  .maincontainer h3{
    font-family: title;
    color: var(--white);
    text-align: center;
    font-size: 1.75rem;
    margin: 1rem 0;
  }
  .input_container input{
    width: 100%;
  }
  .btn {
    margin: 1rem;
  }
}





