.topcover {
  position: relative;
  width: 100%;
  max-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.divbanner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
  height: 100%;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  background: url("/bgbanner.webp");
  background-size: 100% auto;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  margin: 0;
  /* z-index: 9999; */
}

.divbanner__headtext {
  font-size: 5rem;
  font-weight: bold;
  font-family: oswaid;
  color: var(--text-brown);
  text-align: right;
  text-transform: uppercase;
  margin-right: 4.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.divbanner__descriptiontext {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: content;
  color: var(--secondaryFontColor);
  text-align: center;
  letter-spacing: 5px;
  margin-top: 25px;
  margin-bottom: 1rem;
  display: none;
}
.divbanner__eveandwsbtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  font-family: content;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 25px;
}

/* .theme_text{
  text-shadow: -4px -4px 0px rgba(255, 17, 96, 1),-3px -7px 0px rgba(4, 37, 255, 1),5px 1px 0px rgba(43, 255, 0, 1);
  animation: glitch infinite 3s;
} */
.theme_text {
  /* text-shadow: 5px 4px 2px rgba(218, 0, 55, 1); */
  /* text-shadow: 9px 7px 4px rgba(218, 0, 55, 1); */
  /* text-shadow: 4px 6px 2px var(--color-blue-2); */
  /* animation: glitch infinite 3s; */
}

.register__btn {
  margin-top: 32px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: aliceblue;
  animation: glow 8s linear infinite;
  background-image: var(--hover-gradient);
  border-radius: 5px;
  background-size: 400%;
  border-style: hidden;
  cursor: pointer;
}

/* @keyframes glitch {

    0% {
        text-shadow: -5px -4px 2px rgba(218, 0, 55, 1);
    }

    100% {
        text-shadow:5px 4px 2px rgba(218, 0, 55, 1);
    }

} */
/* @keyframes glitch {

    0%{
      text-shadow: -4px -4px 0px rgba(255, 17, 96, 1),-3px -7px 0px rgba(4, 37, 255, 1),5px 1px 0px rgba(43, 255, 0, 1);
    }
    50%{
      text-shadow: 0px px 0px rgba(255, 17, 96, 1),-3px 0px 0px rgba(4, 37, 255, 1),1px 1px 0px rgba(43, 255, 0, 1);
    }
    70%{
      text-shadow: 5px 5px 0px rgba(255, 17, 96, 1),-3px 7px 0px rgba(4, 37, 255, 1),-6px 1px 0px rgba(43, 255, 0, 1);
    }
    100%{
      text-shadow: 0px px 0px rgba(255, 17, 96, 1),-3px 0px 0px rgba(4, 37, 255, 1),1px 1px 0px rgba(43, 255, 0, 1);
   }
    

} */

/* @media screen and (max-width: 767px) {
  .register__btn {
    margin-top: 12px;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: aliceblue;
    animation: glow 8s linear infinite;
    background-image: var(--hover-gradient);
    border-radius: 5px;
    background-size: 400%;
    border-style: hidden;
    cursor: pointer;
  }
  .divbanner {
    align-items: flex-start;
    padding: 0 0 0 25px;
  }
  .divbanner > * {
    text-align: left;
  }
} */

@media screen and (max-width: 1200px) {
  .divbanner {
    background-size: auto 100%;
    background-position: 20%;
  }
  .divbanner__headtext {
    font-size: 4.5rem;
    line-height: 10rem;
  }
}

@media screen and (max-width: 800px) {
  .divbanner {
    background-size: auto 100%;
    background-position: 20%;
  }
  .divbanner__headtext {
    font-size: 4.2rem;
    line-height: 8.5rem;
  }
}

@media screen and (max-width: 480px) {
  .divbanner {
    background-size: auto 100%;
    background-position: 52%;
  }
  .divbanner__headtext {
    font-size: 4rem;
    line-height: 8.5rem;
  }
  .divbanner__descriptiontext {
    font-size: 1rem;
  }
  .divbanner__eveandwsbtn {
    font-size: 0.75rem;
  }
}

/* @media screen and (max-width: 360px) {
  .divbanner__headtext {
    font-size: 36px;
  }
  .divbanner__eveandwsbtn {
    padding: 12px;
  }
} */

@keyframes glow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}
