.topcover{
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/BannerBg.jpg');
}
.divbanner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divbannerfadebtm{
    position: absolute;
    height: 5rem;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-image:linear-gradient(180deg,transparent,rgba(255, 0, 0, 0),var(--primaryBg)) ;
}
.divbanner__headtext{
    font-size: 7rem;
    font-weight: 400;
    font-family: title;
    color: var(--white);
    text-align: left;
    margin: 0;
    line-height: 1;
    margin-bottom: 1rem;
}
.divbanner__descriptiontext{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: content; 
    color: var(--secondaryFontColor);
    text-align: center;
    letter-spacing: 5px;
    margin-top: 25px;
    margin-bottom: 1rem;
    display: none;
}
.divbanner__eveandwsbtn{
    background-color: rgb(255,255,255) ;
    color:rgb(0,0,0);
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    font-family: content;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 25px;
}

@media screen and (max-width:767px) {
    .divbanner {
        align-items: flex-start;
        margin: 0 0 0 25px;
    }
    .divbanner > * {
        text-align: left;
    }
}


@media screen and (max-width:480px) {
    .divbanner__headtext{
        font-size: 4.5rem;
    }
    .divbanner__descriptiontext{
        font-size: 1rem;
    
    }
    .divbanner__eveandwsbtn{
        font-size: 0.75rem;
    }
}
@media screen and (max-width:360px) {
    .divbanner__headtext{
        font-size: 36px;
    }
    .divbanner__eveandwsbtn{
        padding:12px;
    }
}