.events__workshop {
    width: 80%;
    min-height: 100vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.events__workshop__btn {
    display: inline-flex;
    opacity: 25%;
    position: relative;
    text-align: center;
    padding: 15px 30px;
    color: #fff;
    background-color: var(--secondaryBg);
    cursor: pointer;
    font-size: 18px;
    font-family: content;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 18px;
    transition: all 0.5s ease-in-out;
    border-radius: 40px;
    border: none;
    margin-right: 20px;
}

.active {
    background-image: var(--gradient-right);
    background-size: 400%;
    color: #fff;
    background-color: rgb(30, 30, 30);
    opacity: 100%;
}

.events__section {
    width: 100%;
    margin-top: 2.5rem;
}

.ecard {
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    background-image: var(--card-background);
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    transition: height 2s;
}

.ecard>p {
    font-size: smaller;
    padding: 10px 0;
    margin-bottom: 10px;
}

.ecard>h3,
.ecard>h2 {
    background-image: var(--text-gradient-color);
    background-clip: padding-box;
    -webkit-background-clip: text;
    background-size: 100%;
    margin-right: auto;
    -webkit-text-fill-color: transparent;
}

.ecard>h5,
.ecard_actions>h5 {
    letter-spacing: 2px;
    color: var(--secondaryFontColor);
}

.rounds>p {
    counter-increment: item;
    margin-bottom: 10px;
    font-size: small;
}

.rounds>p:before {
    margin-right: 10px;
    content: counter(item);
    color: var(--cool-pink);
    text-align: center;
    display: inline-block;
    font-weight: bold;
    width: 1em;
    margin-left: -1em;
}

.ecard_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.ecard_actions>.register {
    height: 40px;
    display: flex;
    color: white;
    cursor: pointer;
    gap: 16px;
    font-size: 17px;
    transition: all 0.3s linear;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.poster {
    display: flex;
    justify-content: space-between;
}

.poster img {
    width: auto;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    float: right;
}

.poster>h3 {
    background-image: var(--text-gradient-color);
    background-clip: padding-box;
    -webkit-background-clip: text;
    background-size: 100%;
    margin-right: auto;
    -webkit-text-fill-color: transparent;
}

.poster_contact>h3 {
    background-image: var(--text-gradient-color);
    background-clip: padding-box;
    -webkit-background-clip: text;
    background-size: 100%;
    margin-right: auto;
    -webkit-text-fill-color: transparent;
}

.poster>p {
    font-size: smaller;
    padding: 10px 0;
    margin-bottom: 10px;
}

.download_btn {
    position: relative;
    /* background: rgba(255, 255, 255, 0.1); */
    transition: all 1s linear;
    margin-right: 8px;
    border-radius: 5px;
    color: var(--secondaryFontColor);
    /* padding: 10px 16px; */
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); */
}

.events__workshop__btn:hover {
    z-index: 1;
    animation: glow 8s linear infinite;
    
    background-image:var(--hover-gradient);;
    background-size: 400%;
}

.active {
    z-index: 1;
    animation: glow 8s linear infinite;
    background-image:var(--hover-gradient);;
    background-size: 400%;
}

.register_btn:hover {
    z-index: 1;
    animation: glow 8s linear infinite;
    background-image:var(--hover-gradient);;
    background-size: 400%;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.events__workshop__btn::before {
    content: "";
    position: absolute;
    background: inherit;
    top: -5px;
    opacity: 0;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 25px;
    filter: blur(10px);
    transition: opacity 0.5s;

}

.register_btn::before,
.download_btn::before {
    content: "";
    position: absolute;
    background: inherit;
    top: -5px;
    opacity: 0;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 5px;
    filter: blur(10px);
    transition: opacity 0.5s;
}

.events__workshop__btn::before,
.register_btn:hover::before,
.download_btn:hover::before {
    opacity: 1;
    z-index: -1;
}

.register_btn {
    background: rgba(225, 255, 225, 0.1);
    transition: all 1s linear;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 5px;
    padding: 6px 20px;
    text-align: center;
    color: aliceblue;
    z-index: 1;
    animation: glow 8s linear infinite;
    background-image:var(--hover-gradient);;
    background-size: 400%;
}

.ecard_actions>a:hover {
    border: 1px solid white;
    transition: all 0.3s linear;
}

.rounds {
    padding: 20px;
    margin-bottom: 10px;
    list-style: none;
    counter-reset: item;
}

.rules {
    padding: 20px;
    margin-bottom: 10px;
}

.contacts {
    padding: 20px;
}

#expand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 auto 10px auto;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}

#expand:hover {
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.3s linear;
}

.rules>p:before {
    content: "\2022";
    color: #EA00D9;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.rules>p {
    margin-bottom: 10px;
    font-size: small;
}

.ecard_actions>.disabled {
    height: 40px;
    background: var(--secondaryBg);
    border-radius: 5px;
    color: white;
    cursor: not-allowed;
    font-size: 17px;
    transition: all 0.3s linear;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    pointer-events: none;
}

@media (max-width: 850px) {
    .events__workshop {
        width: 90%;
    }

    .ecard {
        padding: 2rem 1.5rem;
    }

    .poster {
        flex-direction: column;
    }

    .poster img {
        width: 100%;
    }

    .ecard_actions {
        flex-direction: column;
        align-items: flex-start;
    }

    .events__workshop__btn {
        padding: 15px 20px;
    }

}