.events__workshop{
    width: 80%;
    min-height: 100vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.events__workshop__btn{
    display: inline-flex;
  position: relative;
  text-align: center;
  padding: 15px 30px;
  color: var(--secondaryFontColor);
  background-color:var(--secondaryBg);
  opacity: 50%;
  cursor: pointer;
  font-size: 18px;
  font-family: content;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 18px;
  transition: all 0.5s ease-in-out;
  border-radius: 40px;
  border: none;
  margin-right: 20px;
}

.active {
    color: blueviolet;
    background-color:var(--white);
    opacity: 100%;
}

.events__section{
    width: 100%;
    margin-top: 2.5rem;
}

.ecard {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--secondaryBg);
    display: flex;
    flex-direction: column;
}

.ecard > p {
    font-size: smaller;
    padding: 10px 0;
    margin-bottom: 10px;
}

.ecard_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ecard_actions > button {
    height: 30px;
    width: 100px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.rounds {
    padding: 20px;
    margin-bottom: 10px;
}

.rules {
    padding: 20px;
    margin-bottom: 10px;
}

.contacts {
    padding: 20px;
}

#expand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 auto 10px auto;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}

#expand:hover {
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.3s linear;
}

@media (max-width: 850px) {
    .events__workshop{
        width: 90%;
    }
    
}