.events__workshop{
    width: 80%;
    min-height: 100vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.events__workshop__btn{
    display: inline-flex;
  position: relative;
  text-align: center;
  padding: 15px 30px;
  color: var(--secondaryFontColor);
  background-color:var(--secondaryBg);
  opacity: 50%;
  cursor: pointer;
  font-size: 18px;
  font-family: content;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 18px;
  transition: all 0.5s ease-in-out;
  border-radius: 40px;
  border: none;
  margin-right: 20px;
  margin-top: 10px;
}

.active {
    color: rgb(32, 194, 26);
    background-color: rgb(30, 30, 30);
    opacity: 100%;
}

.events__section{
    width: 100%;
    margin-top: 2.5rem;
}

.ecard {
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(11, 187, 5,0.10);
    transition: height 2s;
}

.ecard > p {
    font-size: smaller;
    padding: 10px 0;
    margin-bottom: 10px;
}

.ecard > h3, .ecard > h2 {
    background-image : linear-gradient(to right, rgb(32, 194, 26), 	#ffdf29);
    background-clip: padding-box;
    -webkit-background-clip: text;
    background-size: 100%;
    margin-right: auto;
    -webkit-text-fill-color: transparent;
}

.ecard > h5,.ecard_actions > h5 {
    letter-spacing: 2px;
    color: var(--secondaryFontColor);
}

.rounds > p {
    counter-increment: item;
    margin-bottom: 10px;
    font-size: small;
}

.rounds > p:before {
    margin-right: 10px;
    content: counter(item);
    color: rgb(32, 194, 26);
    text-align: center;
    display: inline-block;
    font-weight: bold; 
    width: 1em; 
    margin-left: -1em;
}

.ecard_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.ecard_actions > .register {
    display: flex;
    color: white;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s linear;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.poster{
    display: flex;
    justify-content: space-between;
}
.poster img{
    width: auto;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    float: right;
}

.poster > h3{
    background-image : linear-gradient(to right, rgb(32, 194, 26), 	#ffdf29);
    background-clip: padding-box;
    -webkit-background-clip: text;
    background-size: 100%;
    margin-right: auto;
    -webkit-text-fill-color: transparent;
}

.poster_contact > h3{
    background-image : linear-gradient(to right, rgb(32, 194, 26), 	#ffdf29);
    background-clip: padding-box;
    -webkit-background-clip: text;
    background-size: 100%;
    margin-right: auto;
    -webkit-text-fill-color: transparent;
}

.poster > p {
    font-size: smaller;
    padding: 10px 0;
    margin-bottom: 10px;
}

.download_btn{
    background: rgb(19,179,7);
    background: rgb(183, 183, 183);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    /* padding: 10px 16px; */
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.register_btn{
    background: rgb(19,179,7);
    background: linear-gradient(90deg, rgb(32, 194, 26) 33%, rgb(11, 187, 5) 81%);
    /* background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid transparent; */
    border-radius: 5px;
    padding: 6px 20px;
    text-align: center;
    color: aliceblue;
}

.ecard_actions > a:hover {
    border: 1px solid white;
    transition: all 0.3s linear;
}

.rounds {
    padding: 20px;
    margin-bottom: 10px;
    list-style: none;
    counter-reset: item;
}

.rules {
    padding: 20px;
    margin-bottom: 10px;
}

.contacts {
    padding: 20px;
}

#expand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 auto 10px auto;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}

#expand:hover {
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.3s linear;
}

.rules > p:before {
    content: "\2022";  
    color: rgb(32, 194, 26);
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.rules > p {
    margin-bottom: 10px;
    font-size: small;
}

.ecard_actions > .disabled {
    height: 40px;
    background: var(--secondaryBg);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s linear;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
}

@media (max-width: 850px) {
    .events__workshop{
        width: 90%;
    }
    .ecard{
        padding: 2rem 1.5rem;
    }
        .poster {
          flex-direction: column;
        }
        .poster img{
            width:100%;
        }
        .ecard_actions{
            flex-direction: column;
            align-items: flex-start;
        }

}