.container{
    display: flex;
    padding: 5rem;
    background-color: var(--secondaryBg);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow:hidden;
}
.item{
   font-size: 2rem;
   text-align: center;
   /* background-color: var(--primaryBg); */
   border-radius: 5px;
   /* padding: 3rem; */
   min-width: 250px;

}
.container p{
   font-family: title;
   color: var(--white);
}
.container span{
   font-family: content;
   font-weight: bold;
   color: var(--secondaryFontColor);
}

@media screen and (max-width:860px){ 
   .container{
      flex-direction: column;
      padding: 2.5rem;
   }
   .item {
      margin: 2rem 0;
   }
}