.container{
    display: flex;
    padding: 2rem;
    /* background-color: rgba(0, 0, 0, 0.9); */
    /* background-color: var(--color-blue-2); */
    background: linear-gradient(90deg, var(--brown-dark) 0%, var(--brown-light) 100%);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow:hidden;
}
.item{
   font-size: 3rem;
   text-align: center;

   /* background-color: var(--primaryBg); */
   border-radius: 5px;
   /* padding: 3rem; */
   min-width: 250px;

}
.container p{
   font-family: oswaid;
   color: var(--text-brown);
}
.container span{
   font-family: oswaid;
   /* font-weight: bold; */
   color: var(--text-brown);
}
.eventTitle{
   font-weight: bolder;
   font-size: 1.5rem;
}

.counter{
   color: var(--text-brown) !important;
   font-weight: 400;
   font-size: larger;

}

.counterCenter{
   color: var(--text-brown) !important;
   font-size: 4rem;
   font-weight: 400;
}

@media screen and (max-width:860px){ 
   .container{
      flex-direction: column;
      padding: 2.5rem;
      align-items: center;
   }
   .item {
      margin: 2rem 0;
      text-align: center;
   }
}