.teams__container{
  padding: 10px;
  margin-top: 15vh;
  width: 100%;
  min-height: 75vh;
  flex-direction: column;
}

.teamsCards__container{
  display: flex;
  flex-direction: row;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.teams__cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  padding: 25px;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 15px;
  background-color: rgb(30, 30, 30);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(11, 187, 5,0.10);
}

.teams__teamimg{
  width:75%;
}

.teams__teamname{
  font-size: 1.5rem;
  background: linear-gradient(to right, rgb(32, 194, 26), 	#ffdf29);
  background-size: 100%;
  background-clip: unset;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
}

.teams__heads_names{
  color: var(--secondaryFontColor);
  position: relative;
  padding: 0 10%;
  font-size: 0.9rem;
  overflow-x: hidden;
}

@media screen and (max-width: 1230px) and (min-width: 900px){
  .teams__cards{
    width: 30%;
  }
  .teams__teamimg{
    width:70%;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px){
.teams__cards{
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .teams__container{
    flex-wrap: wrap;
    /* width: 80%; */
  }
  .teamsCards__container{
    flex-direction: column;
  }
  .teams__cards{
    width: 90%;
  }
  .teams__teamimg{
    width:60%;
  }
  .teams__heads_names{
    font-size: 1rem;
  }
}
