.global_button {
  display: inline-flex;
  position: relative;
  text-align: center;
  padding: 15px 30px;
  /* color: #2621b7; */
  /* color: #DA0037; */
  color: var(--color-white);
  background-color: var(--color-black);
  /* background-image: var(--text-gradient-color); */
  /* background-clip:padding-box; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  cursor: pointer;
  font-size: 18px;
  font-family: content;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  transition: all 0.35s ease-in-out;
  /* border-radius: 2px; */
}
.global_button:hover {
  /* color: #05559c; */
  /* color:#ff0040; */
  color: var(--color-black);
  background-color: var(--color-white);
}
