.global_button {
  display: inline-flex;
  position: relative;
  text-align: center;
  padding: 15px 30px;
  color: #2621b7;
  background-color: var(--white);
  /* background-image: var(--text-gradient-color); */
  /* background-clip:padding-box; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  cursor: pointer;
  font-size: 18px;
  font-family: content;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 18px;
  transition: all 0.5s ease-in-out;
}
.global_button:hover {
  color: #05559c;
}