.global_button {
  display: inline-flex;
  position: relative;
  text-align: center;
  padding: 15px 30px;
  color: blueviolet;
  background-color:var(--white);
  cursor: pointer;
  font-size: 18px;
  font-family: content;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 18px;
  transition: all 0.5s ease-in-out;
}
.global_button:hover{
  color: blue;
}