.imageContainer {
    position: relative;
}

.imageContainer>h1 {
    position: absolute;
    font-size: 8.4rem;
    /* font-size: 12rem; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.merchImage {
    margin: 0 auto 2rem auto;
    width: 50%;

}

.glassyCard {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.20);
    -webkit-backdrop-filter: blur(3.8px);
    backdrop-filter: blur(3.8px);
    box-shadow: 6px 9px 12px -3px rgba(0, 0, 0, 0.65);
    /* margin: 2rem 0; */
    transition: height 2s;
}

@media screen and (max-width:1280px) {
    .imageContainer>h1 {
        font-size: 7rem;
        /* font-size: 12rem; */

    }

}

@media screen and (max-width:1140px) {
    .imageContainer>h1 {
        font-size: 6.5rem;
        /* font-size: 12rem; */

    }

}

@media screen and (max-width:1080px) {
    .imageContainer>h1 {
        font-size: 6rem;
        /* font-size: 12rem; */

    }

}

@media screen and (max-width: 1000px) {
    .imageContainer>h1 {
        font-size: 12rem;
    }

    .merchImage {
        width: 40%;
    }
}

@media screen and (max-width: 850px) {
    .imageContainer>h1 {
        font-size: 10rem;
    }
}

@media screen and (max-width: 750px) {
    .imageContainer>h1 {
        font-size: 8rem;
    }

    .merchImage {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .imageContainer>h1 {
        font-size: 7rem;
    }

    .merchImage {
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .imageContainer>h1 {
        font-size: 6rem;
    }

    .merchImage {
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    .imageContainer>h1 {
        font-size: 5rem;
    }

    .merchImage {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .imageContainer>h1 {
        font-size: 4.5rem;
    }

    .merchImage {
        width: 60%;
    }
}

@media screen and (max-width: 360px) {
    .imageContainer>h1 {
        font-size: 4rem;
    }

}

@media screen and (max-width: 330px) {
    .imageContainer>h1 {
        font-size: 3.5rem;
    }

}

@media screen and (max-width: 300px) {
    .imageContainer>h1 {
        font-size: 3rem;
    }

}

@media screen and (max-width: 270px) {
    .imageContainer>h1 {
        font-size: 2.5rem;
    }

}