/* things to be done 
1.change the opacity and height of active card and other cards
2.style the left and right arrow
*/


.cardcarousel{
    width: 100%;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
  
}
.cardRenderWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    opacity:1;
    width: 230px !important;
    height: 450px;
    background-color: rgb(0,0,0);
    border-radius: 10px;
    margin:0px 0px;
}

.card__vectorimg{
    margin: 8px auto;
    width: 80%;
}
.vector{
    width: 100%;
    height: 100%;
}
.card__head{
    font-family: content;
    margin-top: 52px;
    padding: 8px;
    font-size: 22px;
    line-height: 18px;
    font-weight:bold;
    color:var(--white);
  
}
.card__viewbtn{
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: var(--white);
    color:black;
    display: inline-flex;
    padding:6px 8px;
    border-radius: 12px;
    cursor: pointer;
} 


@media screen and (max-width:1024px) {
    .card{
        width: 230px !important;
        height: 500px;
    }
    
}


@media screen and (max-width:900px) {
    .card{
        height: 500px;
    }
    
}

@media screen and (max-width:770px) {
    .cardcarousel{
        width: 70%;
    }
    .card{
        opacity:1;
        height: 440px;
        background-color: rgb(0,0,0);
        border-radius: 10px;
        margin:0px 0px;
    }
  
}

@media screen and (max-width:468px) {
    .cardcarousel{
        width: 80%;
    }
    
}