.cardcarousel{
    width: 80%;
    max-width: 1050px;
    margin: 100px 50px;
}
.cardRenderWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--gradient-right);
}

.card {
    opacity: 1;
    width: 250px !important;
    height: 375px;
    max-height: 375px;
    background-color: var(--secondaryBg);
    border-radius: 5px;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    transform: scale(0.8);
}

.card_active {
    opacity: 1;
    width: 250px !important;
    height: 400px;
    max-height: 400px;
    background-color: rgb(0,0,0);
    border-radius: 5px;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(0,0,0);
    transform: scale(1);
    box-shadow: rgba(25, 25, 26, 0.5) 0px 7px 29px 0px;
}

.center {
    margin: auto 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__vectorimg{
    width: 80%;
}
.vector {
    width: 100%;
    height: 100%;
}
.card__head{
    font-family: content;
    padding: 8px;
    font-size: 1.25rem;
    margin: 10px 0;
    font-weight:bold;
    color:var(--white);
}

.card__viewbtn{
    background-color: var(--white);
    color: var(--primaryBg);
    display: inline-flex;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
} 