.podcast{
    background-color:rgba(0, 0, 0, 0.8);
    text-align: left;
    padding: 5rem;
}
.container__podcast{
    width: 100%;
}

.row__podcast{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    overflow-x: hidden;
}

.col_lg_6{
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_container__podcast{
    margin: 0;
}

.podcast__h3{
    margin: 0 0 2rem 0;
    color: var(--white);
    font-family: title;
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 0;
}

.theme_text{
  text-shadow: -3px -3px 0px rgba(255, 17, 96, 1),-3px -6px 0px rgba(4, 37, 255, 1),3px 0px 0px rgba(43, 255, 0, 1);
  animation: glitch infinite 3s;

}

@keyframes glitch {

    0%{
        text-shadow: -3px -3px 0px rgba(255, 17, 96, 1),-3px -6px 0px rgba(4, 37, 255, 1),3px 0px 0px rgba(43, 255, 0, 1);
    }
    50%{
        text-shadow: 2px 3px 0px rgba(255, 17, 96, 1),-3px 0px 0px rgba(4, 37, 255, 1),-4px 0px 0px rgba(43, 255, 0, 1);
    }
    70%{
        text-shadow: 2px 3px 0px rgba(255, 17, 96, 1),-3px 3px 0px rgba(4, 37, 255, 1),-4px 0px 0px rgba(43, 255, 0, 1);
    }
    100%{ 
        text-shadow: -3px -3px 0px rgba(255, 17, 96, 1),-3px -6px 0px rgba(4, 37, 255, 1),3px 0px 0px rgba(43, 255, 0, 1);
    }
    
}

.podcast__p{
    margin: 2rem 0;
    font-size: 1rem;
    color:var(--secondaryFontColor);
    font-weight: 400;
    font-family: content;
}
.button__podcast{
    display: inline-flex;
    position: relative;  
    text-align: center;
    padding: 15px 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    font-family: content;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 18px;
    /* margin-bottom: 1.5rem; */
}
.image_container__podcast{
    display: flex;
    align-items: center;
    justify-content: center;
}

.podcast__img_fluid {
    max-width: 80%;
    margin: 20px 0;
    height: auto;
    vertical-align: middle;
    align-self: center;
}


@media (max-width: 850px){
    .podcast{
        padding: 2rem;
    }
    .podcast__h3{
        margin-top: 1rem;
        font-size: 2.5rem;
    }
    .podcast__P{
        margin: 0.7rem 0;
    }
    .row__podcast{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .podcast__img_fluid {
        max-width: 100%;
    }
}