.sponsers{
    background-color:var(--white);
    color:var(--primaryBg);
    padding: 5rem;
}

.sponsers__h3{
    margin:0;
    font-family: title;
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    text-align: left;
}
/* .sponser_slider{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
} */

.sponser_slider{
    margin: 1rem 0;
    width: 100%;
}

.sponser_infinite{
    padding: 10px 20px;
    height: 150px;
}


@media (max-width: 850px){
    .sponsers{
        padding: 2rem;
    }
    .sponsers__h3{
        font-size: 2.5rem;
    }
    .sponser_infinite{
        margin: 10px 10px 10px 0;
        height: 75px;
    }
}