#podpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

#grid{
    display: flex;
}

.episode{
    display: grid;
    width: 250px;
    place-items: center;
    grid-template-areas: "inner-div";
}

.overlay{
    text-align: start;
    grid-area: inner-div;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: rgba(0,0,0,0.5);
}