#podpage{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

#video {
    width: 100%;
    height: 56vw;
  }

.podcontext {
    width: 75vw;
    text-align: left;
}

#titleFrame {
    letter-spacing: 3px;
}

#descFrame {
    color: var(--secondaryFontColor);
}

.button {
    border: transparent;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: content, sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
    background-color: var(--secondaryFontColor);
    justify-content: space-between;
    letter-spacing: 0.5px;
}
  
.button:hover {
    color: white;
    background: linear-gradient(45deg, #0069ff, #38ef7d);
    border: 2px solid var(--secondaryFontColor);
    background-clip: text;
    -webkit-background-clip: text;  
    -moz-background-clip: text;  
    -moz-text-fill-color: transparent;  
    -webkit-text-fill-color: transparent;
}

#allepi {
    font-family: 'content', sans-serif;
    letter-spacing: 2px;
}

#grid{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.episode{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.episode:hover {
    border-radius: 10px;
}

#episodeContext {
    display: inline-block;
    position: relative;
    left: -50%;
    transform: translateX(50%);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    color: white;
    font-size: 1.05rem;
    padding: 8px 10px;
    top: -2.6rem;
    margin-bottom: -2.6rem;
    text-align: left;
    width: 100%;
}

.newEpisode {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 48.5%;
    transform: translateX(-50%);
    background-color: green;
    backdrop-filter: blur(20px);
    color: white;
    font-size: 0.9rem;
    padding: 8px 8px;
    top: -181.5px;
    margin-bottom: -3rem;
    text-align: left;
    width: fit-content;
    border-radius: 8px;
}

.oldEpisode {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 49%;
    transform: translateX(-50%);
    background-color: green;
    backdrop-filter: blur(20px);
    color: white;
    font-size: 0.9rem;
    padding: 8px 8px;
    top: -182.5px;
    margin-bottom: -3rem;
    text-align: left;
    width: fit-content;
    border-radius: 8px;
    visibility: hidden;
}

.eimg{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.overlay{
    text-align: start;
    display: flex;
    position: absolute;
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.overlayEx{
    text-align: start;
    display: flex;
    position: absolute;
    width: 280px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    height: 180px;
    transition: all 0.3s ease-in-out;
}

.hide{
    display: none;
}

.watchnow{
    display: flex;
    height: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.025rem;
    letter-spacing: 1.25px;
}

.poster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 56vw;
    background-color: rgba(0,0,0,0.7);
    background-image: url("https://picsum.photos/200/300");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

#posterTitle {
    font-size: 4rem;
}


@media screen and (max-width: 900px) {
    #titleFrame {
        letter-spacing: 3px;
    }
    
    #posterTitle {
        font-size: 2rem;
    }
    
    #allepi {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 500px) {
    #podcontext {
        align-items: center;
        justify-content: center;
        width: 90vw;
    }

    #titleFrame {
        letter-spacing: 2px;
    } 
    
    #posterTitle {
        font: 1.5rem;
    }

    #allepi {
        font-size: 1.15rem;
    }
}