#podpage{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 90vh;
}

#iframe {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 10vh;
    width: 100vw;
    height: 120vh;
}

.podcontext {
    width: 75vw;
    text-align: left;
}

#titleFrame {
    letter-spacing: 3px;
}

#descFrame {
    color: var(--secondaryFontColor);
}

.button {
    border: transparent;
    border-radius: 25px;
    padding: 10px 25px;
    font-family: content, sans-serif;
    font-size: 1.2rem;
    margin-top: 20px;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}
  
.button:hover {
    background: linear-gradient(45deg, #0069ff, #38ef7d);
    border: 2px solid var(--secondaryFontColor);
    background-clip: text;
    -webkit-background-clip: text;  
    -moz-background-clip: text;  
    -moz-text-fill-color: transparent;  
    -webkit-text-fill-color: transparent;
}

#allepi {
    /* font-size: large; */
    font-family: 'title', sans-serif;
    letter-spacing: 2px;
}

#grid{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.episode{
    display: flex;
    flex-direction: column;
    /* width: 250px; */
    /* height: 180px; */
    align-items: center;
    justify-content: space-evenly;
    /* margin: 20px 20px 0 0; */
    padding: 10px;
    /* margin-bottom: 20px; */
}

.episode:hover {
    /* border: 2px solid var(--secondaryFontColor); */
    border-radius: 10px;
}

#episodeContext {
    display: inline-block;
    position: relative;
    left: -50%;
    transform: translateX(50%);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    color: var(--secondaryFontColor);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.05rem;
    padding: 8px 10px;
    top: -2.6rem;
}

.eimg{
    width: 100%; 
    height: 100%;
}

.overlay{
    text-align: start;
    display: flex;
    position: absolute;
    width: 250px;
    height: 50px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    /* background-color: rgba(0,0,0,0.5); */
    transition: all 0.3s ease-in-out;
}

.overlayEx{
    text-align: start;
    display: flex;
    position: absolute;
    width: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.65);
    height: 250px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.hide{
    display: none;
}

.watchnow{
    display: flex;
    height: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 0;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.025rem;
    letter-spacing: 1.25px;
}

.poster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: rgba(0,0,0,0.7);
    background-image: url("https://picsum.photos/200/300");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

#posterTitle {
    font-size: 4rem;
}

@media screen and (max-width: 500px) {

    #iframe {
        position: absolute;
        display: flex;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 50vh;
    }

    #podcontext {
        align-items: center;
        justify-content: center;
        width: 90vw;
    }

    #titleFrame {
        letter-spacing: 2px;
    } 
    
    #posterTitle {
        font: 1.5rem;
    }
}

@media screen and (max-width: 900px) {
    #titleFrame {
        letter-spacing: 3px;
    }

    #posterTitle {
        font-size: 2rem;
    }

    #iframe {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 10vh;
        width: 100vw;
        height: 70vh;
    }
}
