.footer {
	width: 100%;
	padding-bottom: 0;
	background-color: var(--primaryBg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-self: flex-end;
}

.footer_logo {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	height: 100%;
}

#footer_icons {
	display: flex;
	width: 100%;
	max-width: 250px;
	flex-direction: row;
	justify-content: space-between;
}

.footer_icon {
	font-size: 35px;
	height: 40px;
	color: var(--secondaryFontColor);
	transition: all linear 0.25s;
}
.footer_icon:hover {
	font-size: 40px;
	color: var(--white);
}

.footer_right {
	display: flex;
	flex-direction: column;
	flex: 2 1 0;
	align-items: left;
	justify-content: flex-start;
	text-align: left;
	height: 100%;
}
.footer > * > * {
	display: flex;
	flex-direction: column;
}

.footer h2 {
	font-family: title, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media only screen and (min-width: 600px) {
	.footer {
		flex-direction: row;
	}
	.footer_right {
		flex: 1 1 0;
		align-items: center;
		text-align: center;
	}
}

@media only screen and (min-width: 1000px) {
	.footer_right {
		flex-direction: row;
		justify-content: space-around;
	}
}
