.footer {
	padding: 2rem 20px;
	width: 100%;
	background-color: var(--primaryBg);
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-around;
}

.footer_logo {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1;
}

#footer_icons {
	display: flex;
	width: 100%;
	max-width: 250px;
	flex-direction: row;
	justify-content: space-between;
}

.footer_icon {
	font-size: 30px;
	color: var(--secondaryFontColor);
	transition: all linear 0.25s;
}
.footer_icon:hover {
	font-size: 32px;
	color: var(--white);
}

.footer_right {
	display: flex;
	flex-direction: column;
	flex: 2 1 0;
	align-items: left;
	justify-content: flex-start;
	text-align: left;
	height: 100%;
}
.footer > * > * {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.footer h2 {
	font-family: title, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	margin: 10px 0;
}

.footer_links a,
.footer_contact a {
	color: var(--secondaryFontColor);
	transition: all 0.5s;
	margin-bottom: 0;
}

.footer_links a:hover {
	color: var(--white);
}

.footer__contribution {
	color: var(--secondaryFontColor);
	padding-bottom: 1.5rem;
	text-align: center;
	background-color: var(--primaryBg);
}

@media only screen and (min-width: 700px) {
	.footer {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 2.5rem;
		padding-bottom: 0;
	}
	.footer_right {
		flex: 1 1 0;
		align-content: flex-end;
		text-align: center;
	}
	/* rest margin top for links in tablet view */
	.footer_links {
		margin-left: auto;
		margin-top: 0;
	}
	.footer__contribution {
		text-align: center;
		background-color: var(--primaryBg);
		margin: 0;
	}
}

@media only screen and (min-width: 1000px) {
	.footer_right {
		flex-direction: row;
		justify-content: space-around;
		text-align: right;
	}

	/* rest margin top for link and contact at desktop view */
	.footer_contact > * > * {
		margin-bottom: 0;
	}
	.footer__contribution {
		text-align: center;
	}
}


