.footer {
	width: 100%;
	background-color: var(--primaryBg);
	display: flex;
	align-items: center;
	justify-content: space-around;
	align-self: flex-end;
}

.footer > * {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	height: 100%;
}

.footer h2 {
	font-family: title, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.footer_logo {
}

.footer_links {
}

.footer_contact {
}
