.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 10px;
  margin-top: 15vh;
  width: 100%;
  min-height: 75vh;
  flex-direction: column;
}  

.contactHeadingMain {
  padding: 10px 20px;
  margin: 5px;
  font-family: title, sans-serif;
  font-size: 1.8rem;
  background: var(--gradient-right);
  background-clip: text;
  -webkit-background-clip: text;  
  -moz-background-clip: text;  
  -moz-text-fill-color: transparent;  
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.125);
  animation: fadeIn 2s ease-in-out;
}

.contactContent {
  flex-direction: row;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  animation: fadeIn 2s ease-in-out;
  margin: 1rem 0;
}

.contacts {
  flex-direction: column;
  width: 30%;
  padding: 10px;
  margin: 20px 0;
  font-size: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

    /* color: rgb(32, 194, 26); */
.pd-5 {
  padding-bottom: 5px;
}

.name {
  font-size: 1.3rem;
  background-image: var(--text-gradient-color);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.designation {
  font-size: 1.1rem;
}

.email:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  .contacts {
    width: 48%;
  }
}

@media screen and (max-width: 500px) {
  .contactHeadingMain {
    font-size: 1.5rem;
    padding: 10px;
  }

  .contacts {
    width: fit-content;
  }
}