#navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    top: 0;
    align-items: center;
}

.navbutton {
    display: flex;
    height: 8vh;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    padding: 0 10px;
}

#hnav {
    display: flex;
    margin-left: auto;
}

.navlink {
    padding: 6px 10px;
    min-width: 100px;
    text-align: center;
    border: 1px transparent solid;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.navlink:hover {
    border: 1px white solid;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}


@media (orientation: portrait) {
    #hnav{
        visibility: hidden;
    }
  }