@font-face {
  font-family: title;
  src: url('../assets/fonts/Bungee-Regular.ttf');
}

@font-face {
  font-family: content;
  src: url('../assets/fonts/Poppins-Regular.ttf');
}


/* FONTS */
/* 
  -> "title" for headings
  -> "content" everywhere else
*/

:root {
  --primaryBg: #0F0F0F;
  --secondaryBg: #242424;
  --white: #f8f8f8;
  --secondaryFontColor: #B6B6B6;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: content, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--primaryBg);
  line-height: 1.5;
  letter-spacing: 1.15px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

