@font-face {
  font-family: title;
  src: url('../assets/fonts/montserrat.bold.ttf');
  /* src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap'); */
}

@font-face {
  font-family: content;
  src: url('../assets/fonts/Poppins-Regular.ttf');
}


/* FONTS */
/* 
  -> "title" for headings
  -> "content" everywhere else
*/

:root {
  --primaryBg: #0f0f0f;
  --secondaryBg: #141414;
  --white: #f8f8f8;
  --secondaryFontColor: #B6B6B6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: content, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--primaryBg);
  line-height: 1.5;
  letter-spacing: 1.15px;
  scroll-behavior: smooth;
  transition: all 1s;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

