.container {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    max-width: 1500px;
    color: var(--white);
    margin: 0 auto;
}

.error__section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 1000px;
}


@media only screen and (max-width:1000px) {
    .error__section img{
        width: 80%;
    }
}

