.container {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    max-width: 1500px;
    color: var(--white);
    margin: 0 auto;
}

.bannervideo{
    /* transform: rotate(90deg) scale(2);  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -10;
}

.error__section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 1000px;
}


@media only screen and (max-width:1000px) {
    .error__section img{
        width: 80%;
    }
}

@media only screen and (max-width:1290px) {
    .bannervideo{
        transform: scale(2.8);  
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: -10;
    }
}

@media only screen and (max-width:650px) {
    .bannervideo{
        transform: scale(3.5);  
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: -10;
    }
}

@media only screen and (max-width:450px) {
    .bannervideo{
        transform: scale(4.5);  
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: -10;
    }
}
