.container {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    max-width: 1500px;
    color: var(--white);
    margin: 0 auto;
}

.loaderActive{
    height: 100%;
    width: 100%;
    background-color: var(--primaryBg);
    position: fixed;
    top: 0;
    z-index: 99999;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 100;
}

.loaderNone{
    opacity: 0;
    display: none;
    transition: 0.5s;
}

.error__section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 1000px;
}


@media only screen and (max-width:1000px) {
    .error__section img{
        width: 80%;
    }
}

