.about{
    background-color:var(--secondaryBg);
    text-align: left;
    width: 100%;
    padding: 5rem;
    overflow-x: hidden;
}
.container__about{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.row__about{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
}

.col_lg_6{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 
.text_container__about{
    margin: 0;
} */

.about__h3{
    color: var(--white);
    font-family: title;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
}

.about__p{
    margin: 2rem 0;
    font-size: 1rem;
    color:var(--secondaryFontColor);
    font-weight: 400;
    font-family: content;
}
.button__about{
    display: inline-flex;
    position: relative;  
    text-align: center;
    padding: 15px 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    font-family: content;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 18px;
    /* margin-bottom: 1.5rem; */
}
.video_container__about{
    padding: 25px;
    align-items: center;
}
/* .about__img_fluid {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    align-self: center;
} */
.about__video_size{
    height: 250px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid var(--white);
}

 

@media (max-width: 850px){
    .about{
        padding: 3rem 2rem;
    }
    
    .about__h3{
        font-size: 2.5rem;
    }
    .about__P{
        margin: 1rem 0;
    }
    .row__about{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .video_container__about {
        width: 100%;
        padding: 0;
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
    .about__video_size{
        width: 100%;
    }
}